</article>
</main>
<footer class="footer">
    <div class="inner-footer">
        <p>&copy; <a href="https://emilfolino.se">Emil Folino</a></p>
        <p>The API is used in a course given in the Webprogrammering Cluster <a href="https://dbwebb.se">dbwebb</a> at <a href="https://bth.se">Blekinge Tekniska Högskola</a>.</p>
    </div>
</footer>
</body>
</html>